
.table-container {
position: relative;
margin-top:50px;
}
.table-container .mat-table {
max-height: calc(100vh - 200px);
overflow-y: auto;
}
.table-container .mat-table .mat-header-row {
position: absolute;
top: -50px;
left: 0px;
right: 18px;
background: #fff;
}
.table-header {
	background-color:#78909b;
	color: white;
	padding: 0 5px;
}
.table-container {
	padding: 5px 15px 15px 15px;
}
.table-component-holder {
	border: 1px solid #78909b;
	background-color: white;
}
.mat-header-cell {
    color: rgba(0, 0, 0, 0.54);
    font-weight: bold;
    font-size: 14px;
    background: #cccccc38;
}