// cdk-slider {
	.slider-header {
		background-color: #78909b;
		color: white;
		padding: 0 5px;
	}
	.slider-container {
		padding: 5px 15px 15px 15px;
		// color: white;
	}
// }
.slider-component-holder {
	border: 1px solid #78909b;
	background-color: white;

	h4 {
		color: #78909b;
		margin: 14px 0;
	}

	mat-divider {
		margin-bottom: 10px;
	}
}
