// cdk-list {
	.list-header {
		background-color: #78909b;
		color: white;
		padding: 0 5px;
	}
	.list-container {
		padding: 5px 15px 15px 15px;
		// color: white;
	}
// }
.example-panel-red .mat-select-content {
  background: #78909b;
}

.example-panel-green .mat-select-content {
  background: #78909b;
}

.example-panel-blue .mat-select-content {
  background: #78909b;
}
.select-component-holder {
	border: 1px solid #78909b;
	background-color: white;

	h4 {
		color: #78909b;
		margin: 14px 0;
	}

	mat-divider {
		margin-bottom: 10px;
	}
}